<div class="grid-cntnr">
	<mat-table class="grid" [dataSource]="tslots">

		<ng-container matColumnDef="left" [sticky]="true">
			<mat-header-cell *matHeaderCellDef>
				<button mat-icon-button  aria-label="Go to previous week" title="Go to previous week" (click)="prevWeek();">
					<mat-icon>skip_previous</mat-icon>
				</button>
			</mat-header-cell>
			<mat-cell *matCellDef="let line"><span class="grid-left-cell"> {{line.name}}</span></mat-cell>
			<mat-footer-cell *matFooterCellDef>
				<mat-date-range-input [rangePicker]="weekSelector">
    				<input matStartDate [(ngModel)]="currentWeek[0].d" (dateChange)="selectWeek($event.value);">
    				<input matEndDate id="weekSelectorEnd" [(ngModel)]="currentWeek[6].d">
  				</mat-date-range-input>
  				<mat-datepicker-toggle matSuffix [for]="weekSelector"></mat-datepicker-toggle>
  				<mat-date-range-picker #weekSelector></mat-date-range-picker>			
			</mat-footer-cell>
		</ng-container>

		<ng-container *ngFor="let wd of currentWeek; index as i; trackBy: trackByIndex" matColumnDef="d{{i+1}}">
			<mat-header-cell *matHeaderCellDef>
				<span class="grid-day-label {{wd.today?'grid-day-label-today':''}}">
					{{wd.dt}}<br>{{wd.dmt}}
				</span>
			</mat-header-cell>
			<mat-cell *matCellDef="let line"> {{line[i]}} </mat-cell>
			<mat-footer-cell *matFooterCellDef class="day-effort-summary">
				<app-imonit-gauge></app-imonit-gauge>
			</mat-footer-cell>
		</ng-container>

		<ng-container matColumnDef="right" [sticky]="true">
			<mat-header-cell *matHeaderCellDef>
				<button mat-icon-button  aria-label="Go to next week" title="Go to next week" (click)="nextWeek();">
					<mat-icon>skip_next</mat-icon>
				</button>			
			</mat-header-cell>
			<mat-cell *matCellDef="let line"><span class="grid-right-cell"> {{line.name}} </span></mat-cell>
			<mat-footer-cell *matFooterCellDef class="week-effort-summary">
				<app-imonit-gauge></app-imonit-gauge>			
			</mat-footer-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="grid-daily-header mat-elevation-z4"></mat-header-row>

		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

		<mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="grid-daily-footer mat-elevation-z4"></mat-footer-row>
	</mat-table>
</div>
