/* FIXME Heavy cleanup needed */

.grid-cntnr {
	display: block;
	min-width: 98%;
	max-width: 98%;
	min-height: 95%;
	max-height: 95%;
	padding: 0em;
	overflow: auto;
}

.grid-daily-header {
	height: 8em;
}

.grid-daily-footer {
	height: 8em;
}

.grid-day-label {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.grid-day-label-today {
	color: darkorange; /* TODO Should be accent */
}

.grid-left-cell {
	text-align: right;
	vertical-align: top;
	width: 4em;
	max-width: 4em;
	height: 4em;
}

.grid-right-cell {
	text-align: left;
	vertical-align: top;
	width: 4em;
	max-width: 4em;
	height: 4em;
}

.mat-table-sticky {
  opacity: 1;
}

.mat-row {
	border: none;
}

.week-selector {
	width: 10em;
	margin-left: 1em;
	margin-right: 1em;
}

.day-effort-summary {
	cursor: pointer;
}

app-imonit-gauge {
	width: 100%;
	height: 100%;
}

.mat-header-cell, .mat-footer-cell {
  min-width: 80px;
  box-sizing: border-box;
  border-left: 1px lightgrey solid;
  border-right: none;
  border-bottom: none;
  border-top: none;
  height: 100%;
}

.mat-cell {
  min-width: 80px;
  box-sizing: border-box;
  border-left: 1px lightgrey solid;
  border-right: none;
  border-bottom: 1px lightgrey dashed;
  border-top: none;
}

.mat-header-row, .mat-footer-row, .mat-row {
  width: 100%;
 
}