[TODO: add activity area]
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl"
	class="act-tree"> <!-- This is the tree node template for leaf nodes -->
<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
<li class="mat-tree-node">
	<!-- use a disabled button to provide padding for tree leaf -->
	<button mat-icon-button disabled></button>
	<a class="activity-link" routerLink="/{{node.url}}/{{node.id}}" title="{{node.descr}}">{{node.name}}</a>
	<button mat-icon-button *ngIf="node.type=='ActArea' || node.type=='ActGrp'"
		(click)="node.type=='ActArea'?createActGrp(node.id):createProject(node.id)">
		<mat-icon>add</mat-icon>
	</button>
</li>
</mat-tree-node> <!-- This is the tree node template for expandable nodes --> <mat-nested-tree-node
	*matTreeNodeDef="let node; when: hasChild">
<li>
	<div class="mat-tree-node">
		<button mat-icon-button matTreeNodeToggle
			[attr.aria-label]="'Toggle ' + node.name">
			<mat-icon class="mat-icon-rtl-mirror">
			{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}} </mat-icon>
		</button>
		<a class="activity-link" routerLink="/{{node.url}}/{{node.id}}" title="{{node.descr}}">{{node.name}}</a>
		<button mat-icon-button 
			(click)="node.type=='ActArea'?createActGrp(node.id):createProject(node.id)">
			<mat-icon>add</mat-icon>
		</button>
	</div>
	<ul [class.act-tree-collapsed]="!treeControl.isExpanded(node)">
		<ng-container matTreeNodeOutlet></ng-container>
	</ul>
</li>
</mat-nested-tree-node> </mat-tree>
