div {
	border-radius: 0.1em;
}

.grid-cntnr {
	display: block;
	min-width: 95%;
	max-width: 95%;
	min-height: 90%;
	max-height: 90%;
	padding: 1em;
	overflow: hidden;
}

.grid-header-top {
	display: table-row;	
	background: white; /* TODO background color primary */
}

.grid-header-cell {
	display: table-cell;
	text-align: right;
}

.day-label {
	font-weight: bold;	
}

.today {
	color: darkorange; /* TODO Should be accent */
}

.act-header-label {
	text-align: left;
	vertical-align: bottom;
	font-size: 120%;
	font-weight: bold;
	overflow: hidden;
}

span.act-label-area {
	size: 120%;
	font-weight: bold;
	overflow: hidden;
}

span.act-label-group {
	padding-left: 1em;
	overflow: hidden;
}

span.act-label-project {
	font-style: italic;
	padding-left: 4em;
}

a.act-link {
	color: unset;
	text-decoration: none;
}

a.act-link:hover {	
	text-decoration: underline dotted darkorange 0.1em; /* TODO Should be accent */
}

.act-control {
	vertical-align: bottom;	
	border-right: solid 1px grey;	
}

.effort-cell {
	vertical-align: bottom;	
	border: solid 1px transparent;
	border-right: solid 1px grey;	
}

.effort-cell-active {
	vertical-align: bottom;	
	border: solid 1px transparent;
	border-right: solid 1px grey;
	transition: border 0.5s;
}

.sum-label {
	vertical-align: bottom;	
	font-weight: bold;
	color: grey;
}

.effort-sum {
	vertical-align: bottom;
	font-weight: bold;
	color: grey;	
}

.grid-effort-row-group {
	display: block; 
	overflow-y: scroll;
	min-height: 30vh;
	max-height: 40vh;
}

.grid-effort-row {
	display: table-row;
	height: 2em;
}

.grid-effort-row:hover {
	background: #eeeeee;
}

.grid-act-row-header {
	display: table-cell;
	vertical-align: bottom;
}

.grid-act-row-cell {
	display: table-cell;
	text-align: right;
}

.grid-act-row-cell:hover > .effort-control {
	opacity: 0.8;
}

.effort-control {
	float: left;
	padding-left: 1em;
	opacity: 0.05;
}

span.act-effort-control-mini {
	width: 1em;
	height: auto;
	text-align: center;
	height: 1em;
	padding: 0.2em;
	border: 1px solid grey;
	border-radius: 0.3em;
	cursor: pointer;
	font-weight: bold;
	font-family: monospace;;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

span.act-effort-control-mini:hover {
	border: 1px solid darkorange; /* TODO Should be accent */
}

.effort-value {
	float: right;
}

.grid-header-middle-cntnr {
	display: table-row-group;
}

.grid-header-middle {
	display: table-row;
	background: white; /* TODO background color primary */
}

.grid-hourly-slots {
	display: block;
	overflow-y: scroll;
	min-height: 30vh;
	max-height: 40vh;
}

.grid-hourly-slot-row {
	display: table-row;
}

.grid-empty-cell {
	display: table-cell;
}

.calendar-control {
	text-align: center;
	vertical-align: middle;
}

.time-slot-label-left {
	font-size: 80%;
	display: table-cell;
	border-bottom: 1px dashed grey;
	border-right: 1px solid grey;
	vertical-align: top;
	text-align: right;
}

.time-slot-label-right {
	font-size: 80%;
	display: table-cell;
	border-bottom: 1px dashed grey;
	vertical-align: top;
	text-align: left;
}

.time-slot {
	display: table-cell;
	height: 4em;
	border-right: 1px solid grey;
	border-bottom: 1px dashed grey;
}

.daily {
	border-bottom: unset;
}

.grid-time-slot {
	display: table-cell;
}