<div id="act-grid" class="grid-cntnr mat-elevation-z8">
	<div class="grid-header-top mat-elevation-z4">
		<div class="grid-header-cell c01 act-header-label">Activity</div>
		<div class="grid-header-cell c02 act-control">
			<button mat-icon-button color="primary" aria-label="New activity area" title="New activity area">
				<mat-icon>add_library</mat-icon>
			</button>
		</div>
		<div class="grid-header-cell c03 day-label {{d.today?'today':''}}" *ngFor="let d of currentWeek">{{d.dt}}<br>{{d.dmt}}</div>
		<div class="grid-header-cell c04 sum-label sbph">total</div>
	</div>
	<div class="grid-effort-row-group">
		<div class="grid-effort-row" *ngFor="let activity of myActList">
			<div class="grid-act-row-header c01">
				<span class="act-label-{{activity.type=='ActArea'?'area':activity.type=='ActGrp'?'group':'project'}}">
					<button mat-icon-button  aria-label="Show more" title="Show more" *ngIf="activity.type!='Project'">
						<mat-icon>expand_more</mat-icon>
					</button>
					<a class="act-link" href="{{activity.url}}" title="{{activity.descr}}">{{activity.name}}</a>
				</span>
			</div>
			<div class="grid-act-row-cell   c02 act-control">
				<button mat-icon-button color="primary" *ngIf="activity.type!='Project'" 
					title="New {{activity.type=='ActGrp'?'activity group':'project'}}"> <!--  TODO can't set aria-label? -->
					<mat-icon>add</mat-icon>
				</button>
			</div>
			<div class="grid-act-row-cell   c03 effort-cell {{activity.type=='Project'?'effort-cell-active':''}}" *ngFor="let d of currentWeek">
				<div class="effort-control" *ngIf="activity.type=='Project'">
					<span class="act-effort-control-mini" title="Add effort unit" aria-label="Add effort unit">+</span>
					<span class="act-effort-control-mini" title="Subtract effort unit" aria-label="Subtract effort unit">-</span>
					<span class="act-effort-control-mini" title="Reset effort" aria-label="Reset effort unit">x</span>
				</div>
				<div class="effort-value {{activity.type=='ActArea'||activity.type=='ActGrp'?'effort-sum':''}}">00:00</div>
			</div>
			<div class="grid-act-row-cell   c04 effort-sum">00:00</div>
		</div>
	</div>	
	<div class="grid-header-middle-cntnr mat-elevation-z4">
		<div class="grid-header-middle">
			<div class="grid-header-cell c01"></div>
			<div class="grid-header-cell c02 sum-label">total</div>
			<div class="grid-header-cell c03 effort-sum" *ngFor="let d of currentWeek">00:00</div>
			<div class="grid-header-cell c04 effort-sum sbph">00:00</div>		
		</div>	
		<br>
		<div class="grid-header-middle">		
			<div class="grid-header-cell c01"></div>
			<div class="grid-header-cell c02 calendar-control">
				<button mat-icon-button  aria-label="Go to previous week" title="Go to previous week">
					<mat-icon>skip_previous</mat-icon>
				</button>			
			</div>
			<div class="grid-header-cell c03 day-label {{d.today?'today':''}}" *ngFor="let d of currentWeek">{{d.dt}}<br>{{d.dmt}}</div>
			<div class="grid-header-cell c04 calendar-control sbph">
				<button mat-icon-button  aria-label="Go to next week" title="Go to next week">
					<mat-icon>skip_next</mat-icon>
				</button>			
			</div>
		</div>
		<div class="grid-header-middle daily-slot">
			<div class="grid-empty-cell c01"></div>
			<div class="grid-empty-cell c02"></div>
			<div class="time-slot c03 daily" *ngFor="let d of currentWeek"></div>
			<div class="grid-empty-cell c04 sbph"></div>		
		</div>
	</div>	
	<div class="grid-hourly-slots">
		<div class="grid-hourly-slot-row" *ngFor="let h of ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']">
			<div class="grid-empty-cell c01"></div>
			<div class="time-slot-label-left c02">{{h}}</div>
			<div class="time-slot c03 hourly" *ngFor="let d of currentWeek"></div>
			<div class="time-slot-label-right c04 ">{{h}}</div>
		</div>
	</div>
</div>