<mat-tab-group id="project-tabs-cntnr" (selectedTabChange)="loadTabContent($event.index)">

	<mat-tab label="GENERAL">
		<div class="tab-content" *ngIf="project!=null">
			<form (submit)="save()">
				<mat-form-field appearance="fill" class="project-form-field">
					<mat-label id="project-name-label">Project name</mat-label>
					<input matInput placeholder="Project name" aria-labelledby="project-name-label" 
						[formControl]="fcName" [errorStateMatcher]="fcErr">
					<mat-hint>(required)</mat-hint>
				    <mat-error *ngIf="fcName.hasError('required')">
	      				A project name is required
	    			</mat-error>
				</mat-form-field>
				<br>
				<mat-form-field appearance="fill" class="project-form-field">
					<mat-label id="project-descr-label">Project description</mat-label>
					<textarea matInput placeholder="Project description" aria-labelledby="project-descr-label" 
						[formControl]="fcDescr" [errorStateMatcher]="fcErr"></textarea>
				</mat-form-field>
				<br>
				[TODO: usr admin list]
				<br>
				[TODO: usr assign list]
				<br><br>
				<mat-form-field appearance="fill" class="project-form-field-50pc">
	  				<mat-label id="project-date-start-label">Start date</mat-label>
	  				<input matInput [matDatepicker]="pickerStart" aria-labelledby="project-date-start-label"
	  					[formControl]="fcDateStart" [errorStateMatcher]="fcErr">
	  				<mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
	  				<mat-datepicker #pickerStart></mat-datepicker>
				</mat-form-field>&nbsp;
				<mat-form-field appearance="fill" class="project-form-field-50pc">
	  				<mat-label id="project-date-end-label">End date</mat-label>
	  				<input matInput [matDatepicker]="pickerEnd" aria-labelledby="project-date-end-label"
	  					[formControl]="fcDateEnd" [errorStateMatcher]="fcErr">
	  				<mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
	  				<mat-datepicker #pickerEnd></mat-datepicker>
				</mat-form-field>
				<br>
				<mat-form-field appearance="fill" class="project-form-field-50pc">
					<mat-label id="project-effort-unit-label">Effort unit</mat-label>
					<input matInput placeholder="00:00" aria-labelledby="project-effort-unit-label"
						[formControl]="fcEffortUnit" [errorStateMatcher]="fcErr"> 
					<mat-hint>(required)</mat-hint>
					<mat-error *ngIf="fcEffortUnit.hasError('required')">
	      				The project's effort unit is required
	    			</mat-error>
				    <mat-error *ngIf="fcEffortUnit.hasError('pattern')">
	      				Wrong time format! (should be 0:00)
	    			</mat-error>
				</mat-form-field>&nbsp;
				<mat-form-field appearance="fill" class="project-form-field-50pc">
					<mat-label id="project-effort-cap-label">Effort cap</mat-label>
					<input matInput placeholder="00:00" aria-labelledby="project-effort-cap-label"
						[formControl]="fcEffortCap" [errorStateMatcher]="fcErr">
				    <mat-error *ngIf="fcEffortCap.hasError('pattern')">
	      				Wrong time format! (should be 0:00)
	    			</mat-error>
				</mat-form-field>
				<br><br>
				<button type="submit" mat-button color="primary">SAVE</button>&nbsp;
				<a mat-button (click)="cancel();">CANCEL</a>
			</form>
		</div>
	</mat-tab>

	<mat-tab label="NOTES">
		<div class="tab-content" *ngIf="project!=null">
			<div class="tab-content-control-cntnr">
				<div class="tab-content-control-cntnr-left">
					Found {{project!.notes.length}} notes
					<span *ngIf="notesFilteredOut!=0">&nbsp;({{notesFilteredOut}} filtered out)&nbsp;</span>
					<button mat-button color="primary" aria-label="New note" title="New note" (click)="newNote()">
						<mat-icon>add_library</mat-icon>&nbsp;NEW
					</button>
				</div>
				<div class="tab-content-control-cntnr-right">
					<mat-form-field>
    					<input matInput placeholder="search by..." aria-label="Text filter for notes" 
    						[value]="notesTextFilter" (input)="setNotesTextFilter($event)" (keyup)="filterNotes()">
    					<button mat-button *ngIf="notesTextFilter" matSuffix mat-icon-button aria-label="Clear filter" 
    						(click)="notesTextFilter=''; filterNotes()">
    						<mat-icon>close</mat-icon>
						</button>
						<button mat-button *ngIf="!notesTextFilter" matSuffix mat-icon-button>
    						<mat-icon>search</mat-icon>
						</button>
    				</mat-form-field>&nbsp;
				</div>
			</div>
			<div class="card-list-cntnr">
				<mat-card class="project-note mat-elevation-z4" *ngFor="let n of project!.notes"  id="project-note-{{n._id}}">
					<mat-card-title>
						<div class="note-title-left">
							<input matInput placeholder="Note summary" [(ngModel)]="n.summary" (keyup)="n.modified=true" (blur)="updateNote(n);">
						</div>
						<div class="note-title-right">
							<button mat-icon-button title="Delete this note" aria-label="Delete this note" (click)="deleteNote(n);">
								<mat-icon>delete</mat-icon>
							</button>						
						</div>
					</mat-card-title>
					<mat-card-content>
						<textarea matInput  placeholder="Note content" [(ngModel)]="n.descr" (change)="n.modified=true;" (blur)="updateNote(n);"></textarea>
					</mat-card-content>
					<mat-card-footer class="project-note-meta">
						<app-ref-chip [targetId]="n.usr">...</app-ref-chip>&nbsp;
						({{n.date.toLocaleString()}})
					</mat-card-footer>
				</mat-card>			
			</div>
		</div>	
	</mat-tab>

	<mat-tab label="TASKS">
		<div class="tab-content" *ngIf="project!=null">
			<div class="tab-content-control-cntnr">
				<div class="tab-content-control-cntnr-left">
					Found {{project!.tasks.length}} tasks
					<span *ngIf="tasksFilteredOut!=0">&nbsp;({{tasksFilteredOut}} filtered out)&nbsp;</span>
					<button mat-button color="primary" aria-label="New task" title="New task" (click)="newTask()">
						<mat-icon>add_libray</mat-icon>&nbsp;NEW
					</button>
					<button mat-button *ngIf="tasksCompleted()!=0" aria-label="Purge completed task" title="Purge completed tasks" 
						(click)="purgeTasks()">
						<mat-icon>delete_forever</mat-icon>&nbsp;PURGE completed tasks ({{tasksCompleted()}})
					</button>
				</div>
				<div class="tab-content-control-cntnr-right">
					<mat-chip-list>
						<mat-icon title="Sort tasks by..." aria-label="Sort tasks by...">sort</mat-icon>&nbsp;
						<mat-chip [selected]="taskSort=='pc'" (click)="taskSort='pc'" (selectionChange)="sortTasks($event);">% completed</mat-chip>
						<mat-chip [selected]="taskSort=='dateDue'" (click)="taskSort='dateDue'" (selectionChange)="sortTasks($event);">due date</mat-chip>
						<mat-chip [selected]="taskSort=='created.date'" (click)="taskSort='created.date'" (selectionChange)="sortTasks($event);">creation date</mat-chip>
						<mat-chip [selected]="taskSort=='updated.date'" (click)="taskSort='updated.date'" (selectionChange)="sortTasks($event);">updated</mat-chip>
					</mat-chip-list>&nbsp;&nbsp;
					<mat-form-field>
    					<input matInput placeholder="search by..." aria-label="Text filter for tasks" 
    						[value]="tasksTextFilter" (input)="setTasksTextFilter($event)" (keyup)="filterTasks()">
    					<button mat-button *ngIf="tasksTextFilter" matSuffix mat-icon-button aria-label="Clear filter" 
    						(click)="tasksTextFilter=''; filterTasks()">
    						<mat-icon>close</mat-icon>
						</button>
						<button mat-button *ngIf="!tasksTextFilter" matSuffix mat-icon-button>
    						<mat-icon>search</mat-icon>
						</button>						
    				</mat-form-field>&nbsp;
				</div>
			</div>
			<div class="card-list-cntnr">
				<mat-card class="project-note mat-elevation-z4" *ngFor="let t of project!.tasks"  id="project-task-{{t._id}}">
					<mat-card-title>
						<div class="task-title-left">
							<input matInput [ngClass]="{'task-summary': true, 'task-summary-completed': t.pc=='100' }" placeholder="Task summary" 
								[(ngModel)]="t.summary" (keyup)="t.modified=true" (blur)="updateTask(t);">
						</div>
						<div class="task-title-right">
							<mat-form-field class="project-task-field">
								<mat-label>Assigned users</mat-label>
								<mat-select multiple>
									<mat-option *ngFor="let u of t.usrAssignList" [value]="u">{{u}}</mat-option>
								</mat-select>
							</mat-form-field>&nbsp;
							<mat-form-field class="project-task-field">
	  							<mat-label id="project-task-due">Task due date</mat-label>
	  							<input matInput [matDatepicker]="pickerDateDue" aria-labelledby="project-task-due" 
	  								[(ngModel)]="t.dateDue" (dateChange)="t.modified=true" (blur)="updateTask(t);">
	  							<mat-datepicker-toggle matSuffix [for]="pickerDateDue"></mat-datepicker-toggle>
	  							<mat-datepicker #pickerDateDue></mat-datepicker>
							</mat-form-field>&nbsp;							
							<mat-form-field class="project-task-field-half" aria-labelledby="task-progress-label">
								<mat-label id="task-progress-label">Task progress</mat-label>
								<mat-select [(ngModel)]="t.pc" (selectionChange)="t.modified=true" (blur)="updateTask(t);">
									<mat-option *ngFor="let pc of ['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100']" [value]="pc">{{pc}}%</mat-option>
								</mat-select>
							</mat-form-field>&nbsp;
							<button mat-icon-button title="Delete this task" aria-label="Delete this task" (click)="deleteTask(t);">
								<mat-icon>delete</mat-icon>
							</button>							
						</div>
					</mat-card-title>
					<mat-card-content>
						<textarea matInput placeholder="Task description" [(ngModel)]="t.descr" (change)="t.modified=true;" (blur)="updateTask(t);"></textarea>
					</mat-card-content>
					<mat-card-footer class="project-task-meta">
						&nbsp;Created by: <app-ref-chip [targetId]="t.created.usr">...</app-ref-chip>&nbsp;
						({{t.created.date.toLocaleString()}})&nbsp;
						<span *ngIf="t.created!=t.updated">
							; updated by: <app-ref-chip [targetId]="t.updated.usr">...</app-ref-chip>&nbsp;
							({{t.updated.date.toLocaleString()}})&nbsp;
						</span>
					</mat-card-footer>
				</mat-card>			
			</div>
		</div>	
	</mat-tab>
	
	<mat-tab label="FILES">
		[TODO Files]
	</mat-tab>
	
	<mat-tab label="APPOINTMENTS">
		[TODO Appointments]
	</mat-tab>
	
	<mat-tab label="HISTORY">
		<div class="tab-content" *ngIf="project!=null">
			<div class="tab-content-control-cntnr">
				<div class="tab-content-control-cntnr-left">
					Found {{project!.history.length}} history entries
					<span *ngIf="historyFilteredOutEntries!=0">&nbsp;({{historyFilteredOutEntries}} filtered out)</span>
				</div>
				<div class="tab-content-control-cntnr-right">
					<mat-icon>search</mat-icon>&nbsp;
					<mat-form-field>
    					<input matInput placeholder="search by..." title="Text filter for project history" aria-label="Text filter for project history" 
    						[value]="historyTextFilter" (input)="setHistoryTextFilter($event)" (keyup)="filterHistory()">
    					<button mat-button *ngIf="historyTextFilter" matSuffix mat-icon-button aria-label="Clear filter" 
    						(click)="historyTextFilter=''; filterHistory()">
    						<mat-icon>close</mat-icon>
						  </button>
    				</mat-form-field>&nbsp;
    				<mat-form-field>
						 <mat-select title="Date filter for project history" aria-label="Date filter for project history" 
						 	[(value)]="historyDateFilter" (selectionChange)="filterHistory()">
    						<mat-option *ngFor="let df of historyDateFilterOptions" [value]="df.value">
      							{{df.text}}
    						</mat-option>
  						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="card-list-cntnr">
				<mat-card class="hist-entry" *ngFor="let h of project!.history"  id="project-hist-entry-{{h._id}}">
					<mat-card-content>
						<app-ref-chip [targetId]="h.usr">...</app-ref-chip>&nbsp;
						{{h.summary}}&nbsp;
						<app-ref-chip *ngIf="h.relatedTo" [targetId]="h.relatedTo">...</app-ref-chip>&nbsp;
						({{h.timestamp.toLocaleString()}})
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</mat-tab>
	
</mat-tab-group>
