<mat-tab-group id="project-tabs-cntnr" (selectedTabChange)="loadTabContent($event.index)">
	<mat-tab label="GENERAL">
		<div class="tab-content" *ngIf="project!=null">
			<form (submit)="save()">
				<mat-form-field appearance="fill" class="project-form-field">
					<mat-label id="project-name-label">Project name</mat-label>
					<input matInput placeholder="Project name" aria-labelledby="project-name-label" 
						[formControl]="fcName" [errorStateMatcher]="fcErr">
					<mat-hint>(required)</mat-hint>
				    <mat-error *ngIf="fcName.hasError('required')">
	      				A project name is required
	    			</mat-error>
				</mat-form-field>
				<br>
				<mat-form-field appearance="fill" class="project-form-field">
					<mat-label id="project-descr-label">Project description</mat-label>
					<textarea matInput placeholder="Project description" aria-labelledby="project-descr-label" 
						[formControl]="fcDescr" [errorStateMatcher]="fcErr"></textarea>
				</mat-form-field>
				<br>
				<mat-form-field appearance="fill" class="project-form-field-50pc">
	  				<mat-label id="project-date-start-label">Start date</mat-label>
	  				<input matInput [matDatepicker]="pickerStart" aria-labelledby="project-date-start-label"
	  					[formControl]="fcDateStart" [errorStateMatcher]="fcErr">
	  				<mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
	  				<mat-datepicker #pickerStart></mat-datepicker>
				</mat-form-field>&nbsp;
				<mat-form-field appearance="fill" class="project-form-field-50pc">
	  				<mat-label id="project-date-end-label">End date</mat-label>
	  				<input matInput [matDatepicker]="pickerEnd" aria-labelledby="project-date-end-label"
	  					[formControl]="fcDateEnd" [errorStateMatcher]="fcErr">
	  				<mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
	  				<mat-datepicker #pickerEnd></mat-datepicker>
				</mat-form-field>
				<br>
				<mat-form-field appearance="fill" class="project-form-field-50pc">
					<mat-label id="project-effort-unit-label">Effort unit</mat-label>
					<input matInput placeholder="00:00" aria-labelledby="project-effort-unit-label"
						[formControl]="fcEffortUnit" [errorStateMatcher]="fcErr"> 
					<mat-hint>(required)</mat-hint>
					<mat-error *ngIf="fcEffortUnit.hasError('required')">
	      				The project's effort unit is required
	    			</mat-error>
				    <mat-error *ngIf="fcEffortUnit.hasError('pattern')">
	      				Wrong time format! (should be 0:00)
	    			</mat-error>
				</mat-form-field>&nbsp;
				<mat-form-field appearance="fill" class="project-form-field-50pc">
					<mat-label id="project-effort-cap-label">Effort cap</mat-label>
					<input matInput placeholder="00:00" aria-labelledby="project-effort-cap-label"
						[formControl]="fcEffortCap" [errorStateMatcher]="fcErr">
				    <mat-error *ngIf="fcEffortCap.hasError('pattern')">
	      				Wrong time format! (should be 0:00)
	    			</mat-error>
				</mat-form-field>
				<br><br>
				<button type="submit" mat-raised-button color="primary">SAVE</button>&nbsp;
				<a mat-button routerLink="/act-grid">CANCEL</a>
			</form>
		</div>
	</mat-tab>
	<mat-tab label="NOTES">
		[TODO Notes]
	</mat-tab>
	<mat-tab label="TASKS">
		[TODO Tasks]
	</mat-tab>
	<mat-tab label="FILES">
		[TODO Files]
	</mat-tab>
	<mat-tab label="APPOINTMENTS">
		[TODO Appointments]
	</mat-tab>
	<mat-tab label="HISTORY">
		<div class="tab-content" *ngIf="project!=null">
			<div class="tab-content-control-cntnr">
				<div class="tab-content-control-cntnr-left">
					Found {{project!.history.length}} history entries
					<span *ngIf="historyFilteredOutEntries!=0">&nbsp;({{historyFilteredOutEntries}} filtered out)</span>
				</div>
				<div class="tab-content-control-cntnr-right">
					<mat-icon>search</mat-icon>&nbsp;
					<mat-form-field>
    					<input matInput placeholder="text" title="Text filter for project history" aria-label="Text filter for project history" 
    						[value]="historyTextFilter" (input)="setHistoryTextFilter($event)" (keyup)="filterHistory()">
    					<button mat-button *ngIf="historyTextFilter" matSuffix mat-icon-button aria-label="Clear filter" 
    						(click)="historyTextFilter=''; filterHistory()">
    						<mat-icon>close</mat-icon>
						  </button>
    				</mat-form-field>&nbsp;
    				<mat-form-field>
						 <mat-select title="Date filter for project history" aria-label="Date filter for project history" 
						 	[(value)]="historyDateFilter" (selectionChange)="filterHistory()">
    						<mat-option *ngFor="let df of historyDateFilterOptions" [value]="df.value">
      							{{df.text}}
    						</mat-option>
  						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="card-list-cntnr">
				<mat-card class="hist-entry" *ngFor="let h of project!.history"  id="project-hist-entry-{{h._id}}">
					<mat-card-content>
						<mat-chip-list>
							<mat-chip class="refchip" id="{{h.usr}}">...</mat-chip>&nbsp;
							{{h.summary}}&nbsp;
							<mat-chip class="refchip"*ngFor="let r of h.relatedTo" id="{{r}}">...</mat-chip>&nbsp;
							({{h.timestamp.toLocaleString()}})
						</mat-chip-list>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>

