.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-spacer {
  flex: 1 1 auto;
}

.logo {
	background: url(parayer.svg) no-repeat;
	width: 2.5em;
	height: 2.5em;
	margin: 0.5em;
	display: block;
}

.location-icon {
	margin-right: 0.5em;
}

.main-cntnr-cntnr {	
	overflow: hidden;
}

div.main-cntnr {
	width: 100%;
	height: 95vh;
	margin: 0em;
	padding: 1em;
	overflow: auto;
}

/* *** FX & animations *** ************************************************** */
.blinking {
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     opacity: 1.0; }
    49%{    opacity: 1.0; }
    60%{    opacity: 0.0; }
    99%{    opacity: 0.0; }
    100%{   opacity: 1.0; }
}
/* ************************************************************************** */