.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-spacer {
  flex: 1 1 auto;
}

/* *** FX & animations *** ************************************************** */
.blinking {
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     opacity: 0.8; }
    49%{    opacity: 0.8; }
    60%{    opacity: 0.0; }
    99%{    opacity: 0.0; }
    100%{   opacity: 0.8; }
}
/* ************************************************************************** */