<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
		<mat-toolbar>
			<i class="logo"></i>
			<!-- TODO Attribution: Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed by CC BY 3.0 -->
			parayer
		</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item routerLink="my-account">
				<mat-icon ariab-label="About me (aka my account)">person</mat-icon>&nbsp;My account
			</a>
			<mat-divider [inset]="true"></mat-divider>
			<a mat-list-item routerLink="act-grid">
				<mat-icon ariab-label="Show my activity grid">table_chart</mat-icon>&nbsp;My activity
			</a>
			<a mat-list-item routerLink="my-preferences">
				<mat-icon ariab-label="Manage my preferences">build</mat-icon>&nbsp;Preferences
			</a>
		</mat-nav-list>
		<mat-divider [inset]="true"></mat-divider>
		<p style="font-size: 70%; text-align: center;">..:: version {{getVersion()}} ::..</p>
	</mat-sidenav>
	<mat-sidenav-content class="main-cntnr-cntnr">
		<mat-toolbar color="primary">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<div class="location-cntnr" *ngIf="locationTitle!=''">
				<mat-icon class="location-icon">{{locationIcon}}</mat-icon>&nbsp;
				{{locationTitle}}
				<span *ngIf="locationLinks?.length>0">&nbsp;&nbsp;::&nbsp;&nbsp;</span>
				<span *ngFor="let e of locationLinks; last as isLast">
					<a class="location-link" routerLink="{{e.route}}">{{e.text}}</a>
					<span *ngIf="!isLast">&nbsp;&nbsp;&#9656;&nbsp;&nbsp;</span>
				</span>
			</div>
			<span class="mat-toolbar-spacer"></span>
			<mat-icon class="blinking" id="nav-wait-icon" aria-hidden="false" aria-label="Please wait..."
				*ngIf="waiting">hourglass_full</mat-icon>
		</mat-toolbar>
		<div class="main-cntnr">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>